blib*
Makefile
inc/
Makefile.old
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
Tapper-Model-*
cover_db
MANIFEST.bak
inc
t/tapper_schema_reportsdb_test.sqlite
t/tapper_schema_testrundb_test.sqlite
t/tapper_schema_hardwaredb_test.sqlite
tapper_testrundb_development.sqlite
tapper_reportsdb_development.sqlite
MANIFEST
META.yml
MYMETA.yml
